
.wrapper{
width: 100%;
min-height: 100vh;
padding: 40px 2%;

}

.heading{
    flex-direction: row;
    margin-top: 20px;
}

.filter-buttons{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.heading .filter-buttons button{
    margin: 0;
    padding: 8px 16px;
    font-size: 1.2rem;
}

.container{
    grid-template-columns: repeat(3, 1fr);
}
